* {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 100%;
}

header {
  background-image: url(../img/img1.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  height: 650px;
}

.myNavbar {
  width: 100%;
  height: 59px;
  background-color: white;
}

ul li {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 27px;
  padding: 16px 16px 16px 16px;
  text-align: center;
  text-decoration: none;
}

.clearfix {
  overflow: auto;
  margin-left: 65%;
}

.logo p {
  float: left;
  padding: 16px 16px 16px 16px;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 27px;
  letter-spacing: 4px;
}

.text_1 p {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 64px;
  padding: 140px 0px 0px 48px;
}

.button {
  border-style: double;
  border-width: medium;
  border-color: white;
  color: white;
  background-color: inherit;
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: Raleway, sans-serif;
  margin: 55px 0px 0px 300px;
  cursor: pointer;
}

.social_media {
  font-size: 25px;
  padding: 200px 0px 0px 45px;
}

.company_info {
  height: 700px;
  background-color: #e8e6e4;
}

.txt_company h2 {
  text-align: center;
  padding-top: 60px;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  font-size: 25px;
}

.txt_company p {
  text-align: center;
  margin-top: 30px;
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

.passion {
  float: left;
  width: 30%;
}

.passion i {
  font-size: 70px;
  margin: 100px 0px 0px 196px;
}

.passion h2 {
  font-family: helvetica, sans-serif;
  font-size: 23px;
  font-weight: normal;
  margin: 30px 0px 0px 190px;
}

.passion p {
  font-family: helvetica, sans-serif;
  font-size: 17px;
  margin: 30px 0px 0px 70px;
  text-align: center;
}

.design {
  float: left;
  width: 30%;
  margin-left: 30px;
}

.design i {
  font-size: 70px;
  margin: 100px 0px 0px 196px;
}

.design h2 {
  font-family: helvetica, sans-serif;
  font-size: 23px;
  font-weight: normal;
  margin: 30px 0px 0px 199px;
}

.design p {
  font-family: helvetica, sans-serif;
  font-size: 17px;
  margin: 30px 0px 0px 80px;
  text-align: center;
}

.support {
  float: left;
  width: 30%;
  margin-left: 30px;
}

.support i {
  font-size: 70px;
  margin: 100px 0px 0px 196px;
}

.support h2 {
  font-family: helvetica, sans-serif;
  font-size: 23px;
  font-weight: normal;
  margin: 30px 0px 0px 185px;
}

.support p {
  font-family: helvetica, sans-serif;
  font-size: 17px;
  margin: 30px 0px 0px 70px;
  text-align: center;
}

.information {
  height: 660px;
  background-color: #dedbd7;
}

.information h2 {
  text-align: center;
  padding-top: 50px;
  font-family: helvetica, sans-serif;
  font-size: 25px;
}

.contactus {
  float: left;
  margin-left: 190px;
  margin-top: 140px;
}

.contactus i {
  padding-top: 20px;
  float: left;
  font-size: 23px;
}

.contactus p {
  padding-top: 20px;
  padding-left: 70px;
  font-family: helvetica, sans-serif;
  font-size: 20px;
}

form {
  float: right;
  margin: 80px 60px 60px 0px;
  font-size: 18px;
}

input[type=text], input[type=email] {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

input[type=submit] {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 19px;
  width: 300px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px 0px 0px 150px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #242424;
}


/* Animations */

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.text_1 p {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 3s;
}

.button {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 3.6s;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.myNavbar {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
  animation-duration: 3s
}
